<div class="row margin-custom">
    <div class="col-md-5 offset-md-1 ">
        <%= link_to "Create new article", new_article_path, class: "btn btn-success" %>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="center">Listing all articles</h2>
    </div>
</div>
<%= render 'article', obj: @articles %>