<div class="row margin-custom">
    <div class="col-md-6 offset-md-3">
        <h2 class="center blood">Listing all articles</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-5">
        <%= will_paginate :style => 'color:blue' %>
    </div>
</div>
<%= render 'article', obj: @articles %>
<div class="row">
    <div class="col-md-6 offset-md-5">
        <%= will_paginate%>
    </div>
</div>
