<h1 class="center margin-custom blood">About Vanessa zombie</h1>

<div class="row">
    <div class="col">
        <figure class="figure center">
            <img src="<%= asset_path('vanessa-octocat.jpg')%>" class="figure-img img-fluid rounded" alt="Vanessa in Octocat version.">
            <figcaption class="figure-caption text-right">Vanessa Octocat.</figcaption>
        </figure>
    </div>
     <div class="col">
        <p>
            My name is Vanessa Emily and I am on track to become a ruby programmer.
            While I'm doing this, I am learning Ruby.
            I want to share my world with you.
            <br/>
            I consider a good idea to name my blog, developers zombies. 
        </p>
        <ul class="list-unstyled">
            <li>Programming</li>
            <li>Painting</li>
            <li>Drawing</li>
            <li>Reading</li>
            <li>Ice staking</li>
            <li>Watching videos and movies</li>
        </ul>
    </div>
</div>