@import "bootstrap";

.jumbotron{
    background-image: url(roses.jpg);
    background-size: cover;
    height: 40rem;
}

.center {
    text-align: center;
}

.jumbotron h1 {
    letter-spacing:  -2px;
    font-weight: bold;
    //color: #FF7474;
    color: #3B1C4A;
    margin-top: 9rem;
    margin-bottom: 4rem;
}