@import "bootstrap";

.jumbotron{
    background-image: url(sky.jpg);
    background-size: cover;
    height: 60rem;
    margin-top: 1rem;
}

.center {
    text-align: center;
}

.jumbotron h1 {
    letter-spacing:  -2px;
    font-weight: bold;
    //color: #FF7474;
    color: #fff;
    margin-top: 9rem;
    margin-bottom: 4rem;
}
.navbar-brand {
    margin-left: 7rem;
}

.img-fluid {
    max-width: 35%;
}

.titles {
    margin-top: 4rem;
}

.margin-custom {
    margin-top: 4rem;
}