<h1 class="center margin-custom">Listing all Categories </h1>

<div class="row">
    <div class="col-md-6 offset-md-5">
        <%= will_paginate :style => 'color:blue' %>
    </div>
</div>

<% @categories.each do |category| %>
   <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
           <%= link_to "#{category.name}", category_path(category)%>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6 offset-md-5">
        <%= will_paginate :style => 'color:blue' %>
    </div>
</div>