<div class="row">
    <div class="col-md-6 offset-md-3">
        <% flash.each do |name, msg| %>
        <div class='alert margin-custom alert-<%="#{name}" %>'>
            <%=name%>
            <%= content_tag :div, msg,:id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
        <% end %>
    </div>
</div>